
<f:if condition="{backendtitle}">
    <h3>{backendtitle}</h3>
</f:if>

<f:if condition="{tx_tt3swipernce_configuration}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_configuration" /></strong>
    {tx_tt3swipernce_configuration.0}<br>
</f:if>
<f:if condition="{tx_tt3swipernce_sliderpagination}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_sliderpagination" /></strong>
    {tx_tt3swipernce_sliderpagination.0}<br>
</f:if>
<f:if condition="{tx_tt3swipernce_sliderautoplay}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_sliderautoplay" /></strong>
    {tx_tt3swipernce_sliderautoplay}<br>
</f:if>
<f:if condition="{tx_tt3swipernce_slidershowarrows}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_slidershowarrows" /></strong>
    {tx_tt3swipernce_slidershowarrows}<br>
</f:if>
<f:if condition="{tx_tt3swipernce_sliderloop}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_sliderloop" /></strong>
    {tx_tt3swipernce_sliderloop}<br>
</f:if>
<f:if condition="{tx_tt3swipernce_sliderhashnavigation}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_sliderhashnavigation" /></strong>
    {tx_tt3swipernce_sliderhashnavigation}<br>
</f:if>

<f:if condition="{tx_tt3swipernce_slide}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_slide" />:</strong>

    <table class="table table-condensed table-triped">
        <thead>
        <tr>
            <th style="width:10%">#</th>
            <th>Backend Title</th>
            <th>Title</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <f:for each="{tx_tt3swipernce_slide}" as="item" iteration="i">
            <tr class="{f:if(condition: '{item.hidden}', then: 'opacity-25')}">
                <td>{i.cycle}</td>
                <td>{item.slide_backendtitle}</td>
                <td>{item.slide_paginationtitle}</td>
                <td>{f:if(condition: '{item.hidden}', then: 'hidden')}</td>
            </tr>
        </f:for>
        </tbody>
    </table>
</f:if>
