
<f:if condition="{record.backendtitle}">
    <h3>{record.backendtitle}</h3>
</f:if>

<f:if condition="{record.tx_tt3swipernce_configuration}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_configuration" /></strong>
    {record.tx_tt3swipernce_configuration}<br>
</f:if>
<f:if condition="{record.tx_tt3swipernce_sliderpagination}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_sliderpagination" /></strong>
    {record.tx_tt3swipernce_sliderpagination}<br>
</f:if>
<f:if condition="{record.tx_tt3swipernce_sliderautoplay}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_sliderautoplay" /></strong>
    {record.tx_tt3swipernce_sliderautoplay}<br>
</f:if>
<f:if condition="{record.tx_tt3swipernce_slidershowarrows}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_slidershowarrows" /></strong>
    {f:if(condition: '{record.tx_tt3swipernce_slidershowarrows}', then: 'yes', else: 'no')}<br>
</f:if>
<f:if condition="{record.tx_tt3swipernce_sliderloop}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_sliderloop" /></strong>
    {f:if(condition: '{record.tx_tt3swipernce_sliderloop}', then: 'yes', else: 'no')}<br>
</f:if>
<f:if condition="{record.tx_tt3swipernce_sliderhashnavigation}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_sliderhashnavigation" /></strong>
    {f:if(condition: '{record.tx_tt3swipernce_sliderhashnavigation}', then: 'yes', else: 'no')}<br>
</f:if>

<f:if condition="{record.tx_tt3swipernce_slide}">
    <strong><f:translate key="LLL:EXT:tt3_swiper_nce/Resources/Private/Language/locallang_db.xlf:tt_content.tx_tt3swipernce_slide" />:</strong>

    <table class="table table-condensed table-triped">
        <thead>
            <tr>
                <th style="width:10%">#</th>
                <th>Backend Title</th>
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            <f:for each="{record.tx_tt3swipernce_slide}" as="item" iteration="i">
                <tr class="{f:if(condition: '{item.hidden}', then: 'opacity-25')}">
                    <td>{i.cycle}</td>
                    <td>{item.slide_backendtitle}</td>
                    <td>{item.slide_paginationtitle}</td>
                </tr>
            </f:for>
        </tbody>
    </table>
</f:if>
