.tx_tt3_swiper_nce .swiper-slide {
  height: auto;
  min-height: 300px;
}
.tx_tt3_swiper_nce .swiper-pagination-bullet.swiper-pagination-titled {
  background-color: var(--swiper-pagination-color, var(--swiper-theme-color));
  border-radius: 0;
  height: 100%;
  min-width: 20px;
}
/* Fix Loop Bug */
.tx_tt3_swiper_nce .swiper-container[data-loop="1"] .swiper-button-prev.swiper-button-disabled, .tx_tt3_swiper_nce .swiper-container[data-loop="1"] .swiper-button-next.swiper-button-disabled {
  opacity: 1 !important;
  cursor: pointer !important;
  pointer-events: auto !important;
}