<div id="c{data.uid}" class="tx_tt3_swiper_nce{f:if(condition: data.customcssclass, then: ' {data.customcssclass}')}{f:if(condition: data.layout, then: ' frame-layout-{data.layout}')}{f:if(condition: data.frame_class, then: ' frame-{data.frame_class}')}{f:if(condition: data.space_before_class, then: ' frame-space-before-{data.space_before_class}')}{f:if(condition: data.space_after_class, then: ' frame-space-after-{data.space_after_class}')} ">

    <!-- Swiper -->
    <div id="tt3-swiper-nce--{data.uid}" class="swiper-container swiper-container--{data.uid}" data-uid="{data.uid}" data-configuration="{data.tx_tt3swipernce_configuration}" data-autoplay="{data.tx_tt3swipernce_sliderautoplay}" data-autoplay-disableoninteraction="{data.tx_tt3swipernce_sliderautoplay_disableoninteraction}" data-autoplay-pauseonmouseenter="{data.tx_tt3swipernce_sliderautoplay_pauseonmouseenter}" data-loop="{data.tx_tt3swipernce_sliderloop}" data-hash-navigation="{data.tx_tt3swipernce_sliderhashnavigation}" data-pagination-type="{data.tx_tt3swipernce_sliderpagination}">
        <div class="swiper-wrapper">

            <f:for each="{data_tx_tt3swipernce_slide}" as="data_item" iteration="i">

                <f:if condition="{data_item.data_slide_bgimage}">
                    <f:then>
                        <f:for each="{data_item.data_slide_bgimage}" as="file">
                            <f:variable name="bgImg" value="/fileadmin/{file.originalFile.identifier}" />
                        </f:for>

                        <f:if condition="{data_item.data.slide_bgposition}">
                            <f:then>
                                <f:variable name="bgPos" value="{data_item.data.slide_bgposition}" />
                            </f:then>
                            <f:else>
                                <f:variable name="bgPos" value="center center" />
                            </f:else>
                        </f:if>
                    </f:then>
                    <f:else>
                        <f:variable name="bgImg" value="" />
                        <f:variable name="bgPos" value="" />
                    </f:else>
                </f:if>

                <div class="slide--{i.cycle} {data_item.data.slide_cssclass} swiper-slide" style="{f:if(condition: '{bgImg}', then: 'background-image: url({bgImg}); background-size: cover; background-repeat:no-repeat;', else: '')} {f:if(condition: '{bgPos}', then: 'background-position: {bgPos};', else: '')}" data-hash="{f:if(condition: '{data_item.data.slide_paginationtitle}', then: '{data_item.data.slide_paginationtitle}', else: 'slider{data.uid}-slide{i.cycle}')}" data-pagination-title="{f:if(condition: '{data_item.data.slide_paginationtitle}', then: '{data_item.data.slide_paginationtitle}', else: '{i.cycle}')}">

                    <f:if condition="{data_item.data_slide_content}">
                        <f:for each="{data_item.data_slide_content}" as="content_item">
                            <f:cObject typoscriptObjectPath="tt_content" data="{content_item.data}" table="tt_content" />
                        </f:for>
                    </f:if>

                </div>
            </f:for>
        </div>

        <f:if condition="{data.tx_tt3swipernce_slidershowarrows} && {data_tx_tt3swipernce_slide -> f:count()} > 1">
            <!-- Add Arrows -->
            <div id="swiper-button-next--{data.uid}" class="swiper-button-next"></div>
            <div id="swiper-button-prev--{data.uid}" class="swiper-button-prev"></div>
        </f:if>

        <!-- Add Pagination -->
        <f:if condition="{data.tx_tt3swipernce_sliderpagination} != 'nopagination' && {data.tx_tt3swipernce_sliderpagination} != 'scrollbar' && {data_tx_tt3swipernce_slide -> f:count()} > 1">
            <div id="swiper-pagination--{data.uid}" class="swiper-pagination"></div>
        </f:if>

        <!-- Add Scrollbar -->
        <f:if condition="{data_tx_tt3swipernce_slide -> f:count()} > 1">
            <f:if condition="{data.tx_tt3swipernce_sliderpagination} == 'scrollbar' || {data.tx_tt3swipernce_sliderpagination} == 'scrollbar-fraction'">
                <div id="swiper-scrollbar--{data.uid}" class="swiper-scrollbar"></div>
            </f:if>
        </f:if>
    </div>

</div>